*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

/* ---------------------------------------------------------- */
:root {
    --body-color: #efefef;
    --bs-color: #f5f5f5;
    --div-color: #fff;
    --bg-color: tomato;
    --text-color: #000;
    --shadow-color1: #ffffff;
    --shadow-color2: rgba(0, 0, 0, 0.1);
}

.dark-theme {
    --body-color: #313335;
    /* --bs-color: #4f575b; */
    --bs-color: #242526;
    /* --bg-color: #242526; */
    --bg-color: #0a0a0a;
    --div-color: #0a0a0a;
    --text-color: #ecf3ff;
    --shadow-color1: rgb(236, 236, 236, 0.08);
    --shadow-color2: rgba(0, 0, 0, 0.1);
}

#dark-btn {
    position: absolute;
    top: 12px;
    right: 30px;
    background: #ccc;
    width: 36px;
    height: 18px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span {
    margin: 0 2px;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

#dark-btn.dark-btn-on {
    padding-left: 18px;
    background: #41db51;
}
/* ---------------------------------------------------------- */
a{
    text-decoration: none;
    color: #ccc;
}

audio{
    display: none;
}

body{
    background: var(--body-color);
    color: var(--text-color) !important;
}

.circle {
    width: 20px;
}
.circle path {
    fill: var(--text-color) !important;
}
.faq-wrapper .card {
    border: none;
    margin-bottom: 1rem;
    background: var(--bs-color);
    box-shadow: -3px -3px 7px var(--shadow-color1),
    3px 3px 5px var(--shadow-color2);
    /* -webkit-box-shadow: 0 15px 50px rgb(89 69 230 / 12%);
    box-shadow: 0 15px 50px rgb(89 69 230 / 12%); */
}
/* ====================================== header ====================================== */
header{
    display: flex;
    background: var(--bg-color);
    align-items: center;
    height: 12vh;
    min-height: 85px;
}
.navbar-brand.image {
    width: 180px;
    cursor: pointer;
}
.image img {
    width: 100%;
    object-fit: cover;
}
.offcanvas-end {
    background-color: var(--bg-color) !important;
}
.nav-menu .btn{
    display: none;
}

nav.navbar ul.nav li{
    background: var(--div-color);
}
nav.navbar ul.nav li:hover{
    background: #ff3c1a;
}
nav.navbar ul.nav li a{
    position: relative;
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
}

.main{
    height: 88vh;
    overflow: auto;
    background-color: var(--bs-color);
}

/* ----- Selection timer type --------------------------- */
.selection{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.selection .btn{
    outline: 0;
    width: 100%;
    padding: 10px 0;
    color: var(--text-color);
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #ff3c1a;
    -webkit-box-shadow: 1px 0 0 rgb(255 255 255 / 20%) inset;
    -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    box-shadow: 1px 0 0 rgb(255 255 255 / 20%) inset;
}
.selection .btn.active{
    background: var(--bg-color);
}
.selection .btn:hover{
    background: #ff2600;
}
.selection .btn:focus{
    box-shadow: none;
}
/* ---- Timer ------------------------------------------- */
.timer{
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    /* padding: 25px 30px 30px; */
}

.timer--part{
    font-size: 100px;
    height: 145px;
    font-weight: bold;
    overflow: hidden;
}

#pause-btn{
    display: none;
}

#Indicator{
    width: 242px;
    border: none;
    background-color: #1876f2;
    height: 4px;
    margin-top: -4px;
    transform: translateX(15px);
    transition: transform 1s;
}
/* ----- Event --------------------------------------- */
.event{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: var(--div-color);
    margin-top: 50px;
}
.event--part{
    text-align: center;
    padding: 50px 32px;
    border-radius: 15px;
    background: var(--bs-color);
    width: 500px;
    font-size: 27px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 0px #f16d55,
    1px 1px 6px 2px rgba(0 ,0 , 0, 0.4),
    inset -1px -1px 10px 2px var(--div-color),
    inset 1px 1px 10px 2px var(--div-color);
}
/*---- button controller ------------------------------*/
.timer_control{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.timer_control .btn{
    color: var(--text-color);
    background: var(--bs-color);
    box-shadow: -3px -3px 7px var(--shadow-color1),
    3px 3px 5px var(--shadow-color2);
}
.timer_control .btn:hover, 
.timer_control .btn:focus{
    color: var(--text-color);
    background: var(--bs-color);
    box-shadow: inset -3px -3px 7px var(--shadow-color1),
    inset 3px 3px 5px var(--shadow-color2);
}

/* ------ Welcome Page -------------------------------------------*/
.welcome {
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: tomato ;
    display: block;
    transition: 0.3s;
}
.welcome-content{
    width: 800px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome-content h1{
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
}
.welcome-content .mobile-logo{
    display: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#myProgress {
    width: 100%;
    height: 30px;
    position: relative;
    background-color: #ddd;
  }
  
#myBar {
    background-color: #fff;
    width: 10px;
    height: 30px;
    position: absolute;
}

/* ------ Coming Page -------------------------------------------------*/
.coming {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0) ;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none;
    transition: 0.3s;
}
.coming-page{
    width: 900px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/images/backgrounds/happy-lunar-new-year-2023-vietnamese.png');
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    color: #0a0a0a;
    background-color: #efefef;
    font-weight: bold;
}
.topleft, .bottomleft{
    position: absolute;
    left: 16px;
}
.topleft {
    top: 10px;
}
.bottomleft{
    bottom: 10px;
}
.middle {
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.middle h2 {
    background-color: tomato;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-weight: 700;
}
.middle hr {
    margin: 20px auto;
    width: 40%;
    /* background-color: #fff; */
    border: 0;
    opacity: unset;
}
.tmtxcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tmtxcontainerEXPIRED{
    justify-content: center;
    color: #fff;
    background-color: tomato;
}
.timeText{
    display: flex;
    background-color: tomato;
    border-radius: 0.25rem;
    flex-direction: column;
}
.timeText span{
    padding: 0 10px;
    color: #efefef;
}
.timeText p{
    margin: 0;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
/* The Close Button */
.close {
    color: var(--text-color);
    /* color: #fff; */
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 20px;
}
  
.close:hover, .close:focus {
    color: #aaaaaa;
    text-decoration: none;
    cursor: pointer;
}

/* ------ Version ------------------------ */
.vs-pop{
    padding: 10px 30px;
}

/* ------ Setting ------------------------ */
.Set_page.modal-content{
    background: var(--bg-color);
}
.modal-header{
    padding: 10px 30px !important;
}
.Set-pop{
    width: 85%;
    height: 450px;
    margin: 0 auto;
    overflow-y: auto;
}
::-webkit-scrollbar { 
    display: none; 
}
.options{
    position: relative;
    background: var(--div-color);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px #f16d55,
    1px 1px 6px 2px rgba(0 ,0 , 0, 0.4),
    inset -1px -1px 10px 2px var(--div-color),
    inset 1px 1px 10px 2px var(--div-color);
}
.submit-btn{
    position: absolute;
    transform: translateX(10%);
    bottom: 0;
    width: 670px;
    padding: 30px;
}
/* ------ About ------------------------ */
.ab_page.modal-content{
    background: var(--bs-color);
    height: 600px;
}
.ab-pop{
    width: 85%;
    margin: 0 auto;
    overflow-y: auto;
    font-size: 1.1em;
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    line-height: 1.2;
}
.ab-pop img{
    position: relative;
    width: 100px;
    left: -5px;
    padding-top: 10px;
}
.cus-timer{
    padding: 20px;
}
.cus-timer input{
    width: 8vw;
    height: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.cus-timer select{
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
}

.opt-btn{
    border: none;
    cursor: pointer;
    background: #ccc;
    margin: 10px 0;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0px 0px 5px 0px #f16d55,
    1px 1px 5px 1px rgba(0 ,0 , 0, 0.4),
    inset -1px -1px 10px 2px #ccc,
    inset 1px 1px 10px 2px #fff;
}
.opt-btn:hover{
    background: #75ff47;
    box-shadow: 0px 0px 5px 0px #78fa4c,
    1px 1px 6px 2px rgba(0 ,0 , 0, 0.4),
    inset -1px -1px 8px 2px #7af651,
    inset 1px 1px 10px 2px #78fa4c;
}
/* ---------------------------------------------------------- */

footer {
    display: flex;
    background: var(--bg-color);
    color: var(--text-color);
    padding: 20px 0px;
    font-size: 14px;
    justify-content: center;
    height: 8vh;
    align-items: center;
}